@use "../abstract/variables" as var;
@use "../abstract/mixins" as mix;


html {
  font-size: var.$font-family-base;
}

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  padding-top: 56px; // Offset for fixed navbar
}

h1 {
  font-size: var.$heading-size-bigger;

  @include mix.mobile-l-styles {
  font-size: var.$heading-size-big;
  }
}

.navbar{
  .container{
    .collapse{
      a{color: var.$text-color-base;

        &:hover{
          color:var.$text-color-primary;
        }
      }
    }
  }
}



.footer{
  .container{
    .text-end{
      a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
      p{
          color: var.$text-color-base;
      }
  }
}


.featured-speakers{
  .row{
      .col{
          .card{
              &:hover{
                  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
                  transition: 0.3s;
                  transform: translateY(-5px);
                  color: var.$background-color-primary;
              }
          }
      }
  }
}