.gallery-container{
    .row{
        .col-md-4{
            .gallery-img{
                width:360px;
                height:200px;
                border-radius: 0.30rem;
                &:hover{
                  border-radius: 0.20rem;  
                  transform: scale(1.05);
                  transition: 0.5s;
                  
                }
                @media (max-width:430px) {
                    width: 100%;
                    height:14rem;
                    
                }
            }
        }
    }
}